# Node modules (for both frontend and backend)
**/node_modules/
**/build/
**/dist/

# Environment variables
**/.env
**/.env.local
**/.env.production

# Logs
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# PM2 logs (if used)
pids
*.pid
*.seed

# IDE/editor folders
.vscode/
.idea/

# OS junk
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
