   files:
     "/etc/nginx/conf.d/proxy.conf":
       mode: "000644"
       owner: root
       group: root
       content: |
         server {
           listen 80;
           
           location / {
             root /var/app/current;
             index index.html;
             try_files $uri $uri/ /index.html;
           }
         }